name: tutoriq
description: "A new Flutter project."

publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  firebase_core: 3.8.1
  firebase_auth: 5.3.4
  flutter_spinkit: ^5.1.0
  form_builder_validators: ^11.2.0
  google_generative_ai: ^0.4.0
  http: ^1.1.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.2
  flutter_dotenv: ^5.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - .env

flutter_icons:
  android: true
  ios: true
  image_path: "assets/app_icon.png"
